body {
    font-family: 'Poppins', sans-serif;
}
.orange{
    background-color: #ff6700;
}
.btn-round {
    border-radius: 30px;
}
a.orange.btn-round {
    font-size: 18px;
    font-weight: 500;
}
.fa {
    font-size: 24px;
}
.black {
    background-color: #000000;
}
.info-content {
    margin-top: -66px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}
.welcome-content h2 {
    font-size: 30px;
}
h2:after {
    content: '';
    position: absolute;
    background-color: #ff6700;
    width: 50px;
    height: 4px;
    bottom: 0;
    left: 0;
}
a, a:hover, .header-content a {
    font-size: 16px !important;
    text-decoration: none;
}
h2.headings:after {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.orange {
    background-color: #ff6700;
}
.owl-item {
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.owl-stage-outer.owl-height {
    min-height: 550px !important;
}
.header-image img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
section.mission {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}
.mission-box {
    background-color: rgba(255,255,255,0.2);
}
.mission-box p {
    font-size: 24px;
}

/* owl-carousel starts */
.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-nav button.owl-next {
    right: 0;
  }
  
  .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }
  button.owl-next span {
      right: -25px;
  }
  button.owl-prev span {
      left: -25px;
  }
  div#carousel1 button.owl-prev {
    left: 25px;
    top: 38%;
}
div#carousel1 button.owl-next {
    right: 25px;
    top: 38%;
} 
  span {
      font-size: 48px;    
      position: relative;
      top: -5px;
  }
  .owl-nav button:focus {
      outline: none;
  }
  .owl-dots {
      display: none;
  }

  /* owl-carousel end */

  footer.footer {
      background-color: #0d0d0d;
  }
  footer.footer ul li a i.fa {
    font-size: 18px;
}
.right-border {
    border-right: 1px solid #262626;
}
.top-border {
    border-top: 1px solid #262626;
}
.footer-logo ul li {
    width: 40px;
    height: 40px;
}
.footer-logo ul li a {
    background-color: #262626;
    display: block;
    border-radius: 100%;
    padding: 10px;
}
.footer-logo ul li a:hover {
    background-color: #ff6700;
    transition: 0.7s;
}
.footer ul li a:hover {
    color: #ff6700 !important;
    transition: 0.5s;
}
a.orange:hover {
    background-color: #c95100;
    transition: 0.5s;
}
i.fa.fa-search {
    top: 9px;
    right: 15px;
    font-size: 18px;
}